<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aunguyen.quanlycongviec">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ManageMyAccountActivity"
            android:label="@string/title_activity_my_account"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.ManageMyEmployeesActivity"
            android:label="@string/title_activity_my_employees"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.InformationActivity"
            android:label="@string/title_activity_information"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.AboutMeActivity"
            android:label="@string/title_activity_about_me"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.AddJobActivity"
            android:label="@string/title_activity_add_job"
            android:parentActivityName=".Activity.MainActivity"></activity>

        <activity
            android:name=".Activity.AddEmployeeActivity"
            android:label="@string/title_activity_add_employee"
            android:parentActivityName=".Activity.ManageMyEmployeesActivity"></activity>
    </application>

</manifest>